html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  background: #EEEEEE;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 2rem;
  margin-left: 0;
}